<h1>パスワードリセット</h1>

<p>下記のリンクからリセットしてください:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は２時間です。</p>

<p>
パスワードをリセットしない場合は、このメールを無視してください。
パスワードはそのまま残ります。
</p>