doctype html
html
  head
    title
      | Cook-Note
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .app-title.navbar-expand-md.navbar-light.bg-light
      .navbar-brand
        | cook-note
      div
        .container
          - flash.each do |message_type, message| 
            .alert.alert-#{ message_type }
              = message 
          = yield
    = debug(params) if Rails.env.development?
